/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap');

/* Entire Site */

body {
    font-family: 'Quicksand', sans-serif;
}

/* Navigation Styling */
.navbar-brand {
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

.nav-div {
    width: 100vw;
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

/* Homepage Styling */

.homepage {
    background: url('https://github.com/SamanthaBooth81/euro_trip/blob/main/assets/images/bosnia-kravice-falls.JPG?raw=true') no-repeat center center fixed;
    height: 75vh;
}

.welcome {
    background-color: rgba(212, 206, 206, 0.333);
    height: 100%;
}

.welcome-msg {
    padding: 10% 20% 0 20%;
    text-align: center;
}

.welcome-msg p {
    font-size: larger;
    font-weight: bolder;
}