/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap');

/* ----------------------------------------------- Body Styling */

body {
    font-family: 'Quicksand', sans-serif;
}

/* ----------------------------------------------- Navigation Styling */
.navbar-brand {
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

.nav-div {
    width: 100vw;
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link:hover {
    color: #1D5D4C;
}

/* ----------------------------------------------- Homepage Styling */

.homepage {
    position: relative;
}

.homepage-img {
    width: 100%;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.489);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding-top: 15%;
    text-align: center;
}

.welcome p {
    font-size: larger;
    font-weight: bolder;
}